
.img {
    background-image: url(./img/header.jpg);
    background-size: cover;
    text-align: center;
    width: 100%;
}

.imgit{
    width: 30%;
    height: auto;
    margin-right: 100px;
    margin: auto;

}

.gititulo {
    text-align: center;
}

.git {
    max-width: 70%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex;
  justify-content: center; /* Centra horizontalmente dentro del contenedor flex */
  align-items: center; /* Centra verticalmente dentro del contenedor flex */
  background-size: cover;
}


.colorfondo {
    background-color: rgb(45, 145, 158);
    text-align: center;
    color: white;
}

.col2 {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
    align-items: center;
    max-width: 75%;
    margin: auto;
}

.colarribapie {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 20px; 
    background-color: rgba(148, 136, 136, 0.384);
    width: 100%; /* Amplía el fondo de color al ancho completo */
    padding: 20px 0; /* Agrega un espacio interno arriba y abajo */
    margin-top: 20px;
}

.colorpie {
    background-color: black;
    text-align: center;
    color: white;
    width: 100%; /* Amplía el fondo de color al ancho completo */
    padding: 20px 0; /* Agrega un espacio interno arriba y abajo */
}

.blanco {
    color: white;
}

@media screen and (max-width:600px) {

    .col2, .colarribapie {
        max-width: 100%; /* Ajusta el ancho máximo al 100% para dispositivos pequeños */
        margin: auto; /* Centra el contenedor horizontalmente */
        display: grid;
        background-size: cover;
    }

    .git {
        max-width: 100%; /* Ajusta el ancho máximo al 100% para dispositivos pequeños */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        display: grid;
        grid-template-columns: repeat(2, 2fr); /* Dos columnas de igual ancho */
        grid-template-rows: repeat(3, auto); /* Tres filas con altura automática */
        gap: 20px; /* Espacio entre las celdas */
        background-size: cover;
    }

    .img {
        width: 100%;
        margin: auto;
    }
}
    


.magra-regular {
    font-family: "Magra", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .magra-bold {
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  